<!-- navigation -->
       <header>
        <a href="/" class="logo"> <i class="fas fa-utensils"></i>BREAKF<span>ast.</span></a>
        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/onthemenus.hbs">On the Menu</a>
          <a href="/signup">Sign-Up</a>
          <a href="/login">Login</a>
        </nav>
      </header>