{{!-- Hero Section --}}
<div class='container'>
  {{! happy breakfast section  }}
  <div class='row firstItem'>
    <div class='content firstLeftdiv col-md-6'>
      <div class='dummy'>
        <h3>Happy Breakfast</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          exercitationem, nobis minus repudiandae asperiores sequi sint beatae
          reprehenderit. Voluptatum corporis, officiis excepturi nemo ducimus
          numquam praesentium ipsa deleniti incidunt ea.</p>
        <a href='#' class='btn'>order</a>
      </div>
    </div>
    <div class='firstImg col-md-6'>
      <div class='alignImgright'>
        <img src='/img/french_toast.png' alt='pic of french toast' />
      </div>
    </div>
  </div>

  {{!-- Content Section --}}

  {{! how it works section  }}
  <h1 class='Howitworksh1 heading'>!How <span>It Works!</span></h1>
  <div class='row secondItem'>
    <div class='col-lg-3 col-md-6'>
      <img class='secItmImg' src='/img/receipe.jpg' alt='receipe' />
      <div class='content'>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          quisquam sequi nihil facere, inventore tenetur in neque vitae libero.
          Laudantium odio incidunt alias, perferendis facere earum eos, mollitia
          voluptatum corrupti facilis expedita illo. Aspernatur ab ullam animi
          ducimus. Dignissimos sunt expedita minima eos atque enim, similique
          quam temporibus non culpa.</p>
      </div>
    </div>
    <div class='col-lg-3 col-md-6'>
      <img class='secItmImg' src='/img/preference.jpg' alt='receipe' />
      <div class='content'>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          quisquam sequi nihil facere, inventore tenetur in neque vitae libero.
          Laudantium odio incidunt alias, perferendis facere earum eos, mollitia
          voluptatum corrupti facilis expedita illo. Aspernatur ab ullam animi
          ducimus. Dignissimos sunt expedita minima eos atque enim, similique
          quam temporibus non culpa.</p>
      </div>
    </div>
    <div class='col-lg-3 col-md-6'>
      <img class='secItmImg' src='/img/delivery.jpg' alt='receipe' />
      <div class='content'>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          quisquam sequi nihil facere, inventore tenetur in neque vitae libero.
          Laudantium odio incidunt alias, perferendis facere earum eos, mollitia
          voluptatum corrupti facilis expedita illo. Aspernatur ab ullam animi
          ducimus. Dignissimos sunt expedita minima eos atque enim, similique
          quam temporibus non culpa.</p>
      </div>
    </div>
    <div class='col-lg-3 col-md-6'>
      <img class='secItmImg' src='/img/meal.jpg' alt='receipe' />
      <div class='content'>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          quisquam sequi nihil facere, inventore tenetur in neque vitae libero.
          Laudantium odio incidunt alias, perferendis facere earum eos, mollitia
          voluptatum corrupti facilis expedita illo. Aspernatur ab ullam animi
          ducimus. Dignissimos sunt expedita minima eos atque enim, similique
          quam temporibus non culpa.</p>
      </div>
    </div>
  </div>
</div>